{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": ["> 5%", "last 2 versions", "not ie < 11"]
        }
      }
    ]
  ]
}
