{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": false,
        "targets": {
          "browsers": ["> 5%", "last 2 versions", "not ie < 11"]
        }
      }
    ]
  ]
}
